/* Base Application Styles */
html, body {
  width: 100%;
  height: 100%;
  background: #222;
}

.stage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: #ddd;

  transition: 0.6s;
  transform-style: preserve-3d;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.pageControl {
  position: absolute;
  padding-left: 12px;
  padding-right: 12px;
  bottom: 38px;
  height: 44px;

  border-radius: 22px;

  background: rgba(0, 0, 39, 0.4);
}
