/* PageControl.js */
.flip-container {
  position: relative;
  width: 30px;
  height: 30px;

  perspective: 380;

  transition: 0.6s;
  transform-style: flat;

  display: inline-flex;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  text-align: center;
  cursor: pointer;
}

.flipper {
  position: relative;

  perspective: 0;

  transition: 0.6s;
  transform-style: preserve-3d;
}

.front, .back {
  position: absolute;

  backface-visibility: hidden;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
  background: 
}

.back {
  transform: rotateY(180deg);
}

