/* PageControl.js */
.pc-flip-container {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 7px 4px;

  perspective: 380;

  display: inline-block;
}
.pc-flip-container, .pc-front, .pc-back {
  text-align: center;
  cursor: pointer;
}

.pc-front, .pc-back {
  position: absolute;
  
  margin: 3px;
  width: 24px;
  height: 24px;
  border-radius: 12px;

  backface-visibility: hidden;
}

.pc-front {
  background: #669999;
  color: #ccc;
}

.pc-back {
  background: #FF6666;
  color: #fff;
}

.titleStyle {
  font-size: 12px;
}

